body{
    background-color:rgba(0, 0, 0, 0.788);
    color:white;
    padding:20 px;
    
    
}
#imagem-fundo{
    background: url('xiamen-824233_1280.jpg');
    height: 100% ;
    text-align: center;
    background-size: cover;
}
html,body{
    margin: 0;

    
}
#titulo{
    color:white;
    padding-top: 20%;
    font-size: 50px;

    
} 
#subtitulo{
    color: white;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 30px;
    
    
}
#ação{
    color: white;
    border: 1px blue solid;
    padding:10px 10px 10px 10px;
}
.foto{
    width: 100%;
    padding: 20px;
}
#projeto{
    padding: 20px;


}
.igual{
padding: 20px ;
}
.destaque{
    padding: 20px;
}
.minha{
    width: 300px;
    padding: 20px;

}
.coluna{
    float: left;
    padding:  0 5%;
    position: relative;
    width: 40% ;
}
.justificado{
    text-align: justify;
}




section{
    padding: 20px;
    float: left;
    
}
.

footer{
text-align: left;
padding: 20px;
color:white;

}
.destaque{
text-align: left;
}
header {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background: black;
  }
  header #logo {
    position: absolute;
    top: 10px;
    float: left;
    height: 40px;
    width: 170px;
    margin-left: 5%;
  }
  header #logo img{
    max-height: 100%;
  }
  header .menu {
    float: right;
    list-style: none;
    margin-top: 0px;
    margin-right: 5%;
  }
  header .menu li {
      float: left;
    font-size: 18px;
    padding: 20px 10px 20px 10px;
  }
  header .menu li a {
    color: initial;
    text-decoration: initial;
    color: white;
  }
  header .menu li:hover {
    background-color: #01acea;
  }
